@use 'variables';
@use 'sliderinternas';

.slider_cosasquehacer {
    background-image: url(https://images.hdqwalls.com/wallpapers/alan-walker-dj-monochrome-4k-ze.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   }