@use 'variables';
@use 'sliderinternas';
@use 'mixin' as *;

.slider_espacios {
    background-image: url(https://miro.medium.com/max/1200/1*bPv4wf2TqXJICgs6dHqGJA.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   }

.lugar_titulo {
	text-align: left;
	font-size: variables.$font_h2_size;
	color: variables.$color_1;
	font-weight: 800;
	padding: 1rem;
	@include contenidocentrado;
}
.lugar_texto {
	text-align: left;
	padding: 1rem;
	font-size: variables.$font_h4_size;
	color: variables.$color_1;
	font-weight: 300;
}
p {
	strong {
		font-weight: 600;
		font-family: variables.$font_family;
		font-size: 1.5rem;
        font-size: variables.$font_h4_size;
		text-decoration: none;
	}
}
.galeria_titulo {
	font-size: variables.$font_h2_size;
	color: variables.$color_1;
	font-weight: 800;
	padding-bottom: 20px;
	padding-top: 10px;
}
.galeria {
	width: 100%;
	height: auto;
}
.galeria_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	grid-gap: 5em;
}
.galeria_foto {
	line-height: 0;
	&:hover {
		filter: blur(2px);
		cursor: pointer;
	}
}

.testimoniales_titulo {
	font-size: variables.$font_h2_size;
	color: variables.$color_1;
	font-weight: 800;
	padding-bottom: 20px;
}

.card-body {
    h4 {
		font-family: variables.$font_family; 
		color: variables.$color_1;
		font-size: variables.$font_h4_size;
		font-size: 3rem;
    }
	p {
		font-weight: 300;
		font-family: variables.$font_family;
		font-size: 1rem;
        font-size: variables.$font_h4_size;
		text-decoration: none;
		margin: 30px;
	}
}

@media (max-width: 768px) {
	#grid_general {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "header" "main" "recomendados" "proximamente" "mapa" "formulario" "footer";
	}
	.lugar_titulo {
		text-align: center;
        font-size: variables.$font_h2_size*1;
		color: variables.$color_1;
		font-weight: 800;
	}
	.lugar_texto {
		text-align: center;
        font-size: variables.$font_h4_size;
		color: variables.$color_1;
		font-weight: 300;
		width: 400px;
		margin: auto;
		margin-bottom: 10px;
	}
	.galeria_titulo {
		text-align: center;
		font-size: variables.$font_h3_size*1.7;
		color: variables.$color_1;
		font-weight: 800;
	}
	.testimoniales_titulo {
		text-align: center;
		font-size: variables.$font_h3_size*1.7;
		color: variables.$color_1;
		font-weight: 800;
	}
	.mapa_titulo {
		text-align: center;
		font-size: variables.$font_h3_size*1.7;
		color: variables.$color_1;
		font-weight: 800;
	}
    .recomendados_titulo {
		text-align: center;
		font-size: variables.$font_h3_size*1.7;
		color: variables.$color_1;
		font-weight: 800;
	}
}

