@use 'variables';

/************************************ FOOTER ************************************/

footer {
	grid-area: footer;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: #a055ef;
	height: 250px;
	width: 100vw; 
  }  
  
  .footer_logo {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
  }
  
  .links {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
  }
  
  .links li {
	display: flex;
	justify-content: center;
	text-decoration: none;
	font-size: 3rem;
	list-style: none;
	color: white;
	margin-top: 10px;
  }
  
  .links a {
	text-decoration: none;
	font-size: 1.5rem;
	list-style: none;
	color: white;
	margin-top: 10px;
	font-weight: 100;
	line-height: 20px;
	align-items: center;
	text-align: center;
	line-height: 0.2;
  }
  
  
  .links a:hover {
	color: #2a272e;
	text-decoration: none;
	font-weight: bold;
  }
  
  .entradas_blog {
	display: flex;
	line-height: 0.5;
	align-items: center;
	align-content: center;
	justify-content: center;
  }
  
  .entradas_blog li {
	display: flex;
	text-decoration: none;
	font-size: 3rem;
	list-style: none;
	color: white;
	margin-top: 10px;
  }
  
  .entradas_blog a {
	text-decoration: none;
	font-size: 1.5rem;
	list-style: none;
	color: white;
	margin-top: 10px;
	font-weight: 100;
	line-height: 0.2;
  }
  
  .entradas_blog a:hover {
	color: #2a272e;
	font-weight: bold;
	text-decoration: none;
  }
  
  .footer_redes {
	display: flex;
	line-height: 0.5;
	align-items: center;
	align-content: center;
	justify-content: center;
  }
  
  .footer_redes li {
	list-style:none;
	font-size: 1.5rem;
	margin-top: 20px;
	text-decoration: none;
	justify-content: space-around;
	margin: 5px;
  }
  
  .footer_redes ul {
	display: flex;
	text-decoration: none;
  }

@media (max-width: 768px) {
	#grid_general {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-areas:
	  "header"
	  "main"
	  "recomendados"
	  "proximamente"
	  "mapa"
	  "formulario"
	  "footer";
	}
  
    footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: variables.$background_color_2;
    height: 450px;
    width: 100vw;
    }
    .footer_logo {
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 30px;
    padding-left: 20px;
    justify-content: center;
    }
    .links {
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
    justify-content: center;
    }
    .entradas_blog {
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
    justify-content: center;
    }
    .footer_redes {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    }
}

