@use 'variables';
@use 'mixin' as *;

/************************************ FOOTER ************************************/

footer {
	grid-area: footer;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	background-color: variables.$background_color_2;
	height: 250px;
	width: 100%; 
  }  
  
  .footer_logo {
	display: flex;
	@include contenidocentrado;
  }
  
  .links {
	display: flex;
	@include contenidocentrado;

	li {
		@include contenidocentrado;
		text-decoration: none;
		font-size: 3rem;
		list-style: none;
		color: variables.$color_3;
		text-align: center;
	  }

	a {
		text-decoration: none;
		font-size: 1.5rem;
		list-style: none;
		color: variables.$color_3;
		font-weight: 100;
		@include contenidocentrado;

		&:hover {
			color: variables.$color_1;
			text-decoration: none;
			font-weight: bold;
		}	
	}  
  }
  
  .entradas_blog {
	display: flex;
	@include contenidocentrado;

	li {
		@include contenidocentrado;
		text-decoration: none;
		font-size: 3rem;
		list-style: none;
		color: variables.$color_3;
		text-align: center;
	  }
	a {
		text-decoration: none;
		font-size: 1.5rem;
		list-style: none;
		color: variables.$color_3;
		font-weight: 100;
		@include contenidocentrado;

		&:hover {
			color: variables.$color_1;
			text-decoration: none;
			font-weight: bold;
		}	
	  }
  }
  
  
  .footer_redes {
	display: flex;
	line-height: 0.5;
	@include contenidocentrado;
  }
  
  .footer_redes li {
	list-style:none;
	font-size: 1.5rem;
	margin-top: 20px;
	text-decoration: none;
	justify-content: space-around;
	margin: 5px;
  }
  
  .footer_redes ul {
	display: flex;
	text-decoration: none;
  }

@media (max-width: 768px) {
	#grid_general {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-areas:
	  "header"
	  "main"
	  "recomendados"
	  "proximamente"
	  "mapa"
	  "formulario"
	  "footer";
	}
  
    footer {
    grid-area: footer;
    display: flex;
	@include contenidocentrado;
    background-color: variables.$background_color_2;
    height: 500px;
    width: 100%;
    }
    .footer_logo {
    display: flex;
	padding-top: 20px;
	padding-bottom: 10px;
	@include contenidocentrado;
    }
    .links {
    display: flex;
    padding-bottom: 10px;
	@include contenidocentrado;
    }
    .entradas_blog {
    display: flex;
	padding-bottom: 10px;
	@include contenidocentrado;
    }
    .footer_redes {
    display: flex;
	padding-bottom: 20px;
	@include contenidocentrado;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
	#grid_general {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-areas:
	  "header"
	  "main"
	  "recomendados"
	  "proximamente"
	  "mapa"
	  "formulario"
	  "footer";
	}
	footer {
		grid-area: footer;
		display: flex;
		@include contenidocentrado;
		background-color: variables.$background_color_2;
		height: 500px;
		width: 100%;
		}
	}	
