@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color_1: #2a272e;
$color_2: #a055ef;
$color_3: #ffffff;
$background_color_1: #2a272e;
$background_color_2: #a055ef;
$background_color_3: #ffffff;

$font_family: "Work Sans";
$font_h1_size: 6rem;
$font_h2_size: 4rem;
$font_h3_size: 2rem;
$font_h4_size: 1.5rem;
$font_p_size: 1rem;