@use 'variables';
@use 'mixin' as *;

header {
    grid-area: header;
    background-color: variables.$background_color_3;

	.logo {
		&:hover {
			cursor: pointer;
        }
	}
}    

.navbar {
    font-family: variables.$font_family;
    font-size: 10rem;
    font-weight: 200;
    width: 100%;
    display:block;
    text-align: center;

    .navbar-nav {
        li {
            text-decoration: none;
            list-style: none;
            display: block;
            @include contenidocentrado;
        }
        a {
            color: variables.$color_1;
            text-decoration: none;
            &:hover {
                color: variables.$color_2 !important;
                font-weight: bold;
                text-decoration: none;
            }    
        }
    }
}

.active {
    color: variables.$color_2 !important;
    font-weight: bold;
    text-decoration: underline !important;
}

.navbar-toggler {
    color: grey;
    line-height: 1;
    border: 1px solid grey;
    border-radius: .25rem;

}

.navbar-collapse{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
   }

.header_redes {
        text-decoration: none;
        list-style: none;
        margin-top: 10px;
        display: flex;
        @include contenidocentrado;
        li {
            margin: 5px;
        }
        &:hover {
            cursor: pointer;
        }
}       